extends layout

block content
  .grid
    .small-12.columns
      h1.intro-title
        | JavaScript Unconference is your conference.
        br
        | You decide what will happen.

  .news
    .grid
      .small-10.columns
        h2 News
          a.icon-rss(href='/feed.xml') &nbsp;
    .grid
      - var articles = _.chain(contents.news._.directories).map(function(item) {
      -   return item.index;
      - }).compact().sortBy(function(item) {
      -   return -item.date;
      - }).filter(function(item, index) {
      -   return index < 2;
      - }).value();

      each article in articles
        article.news__article.small-12.columns
          h3.news__article__title
            small= moment(article.date).format('MMMM DD, YYYY')
            br
            a(href=article.url)= article.title
          section.news__article__content!= article.intro

    .grid
      .small-12.columns
        a(href='/news/', title='News') View all news »


  .location
    .grid
      .small-12.columns
        h2 Location
        div
        != contents.location['index.md'].html